//- 모두 소문자
doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block head
    body 
    //- 다른 페이지에서 이 페이지를 extends한 경우, block에 원하는 값을 넣을 수 있다
    block content
    //- react components 처럼 가져와서 사용할 수 있다
    include partials/footer.pug
    