extends base.pug

block content
    h4 Update Video 
    form(method="POST") 
        input(placeholder="Video Title", name="title", value=video.title required )
        input(placeholder="Description", name="description", type="text", value=video.description required)
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="Save", type="submit")
        
