extends base
include mixin/video

block content
    h2 Welcome here you will see the trending videos! 
    ul 
        each banana in videos 
            +video(banana)
        else
            h3 Sorry, nothing found..
                
                
                
        
    