extends base
include mixin/video

block content
    h2 어떤 비디오를 보고 싶으세요?
    ul 
        each video in videos 
            +video(video)
        else
            h3 Sorry, nothing found..
                
                
                
        
    