extends base

block content
    form(method="POST")
        input(placeholder="name" name="name", type="text", required) 
        input(placeholder="email" name="email", type="text", required)
        input(placeholder="username" name="username", type="text", required)
        input(placeholder="password" name="password", type="text", required) 
        input(placeholder="location" name="location", type="text", required)
        input(type="submit", value="Join")

