extends base.pug

block content
    //- h1=video.title
    p=video.description
    p=video.hashtags
    div
        small=video.createdAt
    br
    a(href=`${video.id}/edit`) Edit Video &rarr; 
    
    